[Unit]
Description=ergoFACE service
Requires=bluetooth.target network-online.target
After=bluetooth.target network-online.target legacy-bluetooth.service


[Service]
ExecStart=/usr/bin/node /home/pi/daumUSB2BLE/server.js
WorkingDirectory=/home/pi/daumUSB2BLE
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
SyslogIdentifier=ergoface
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=3000

[Install]
WantedBy=multi-user.target
